.Timer {
  font-family: "Times New Roman", Times, serif;
  border: 2px solid grey;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
}

.timer-buttons button:hover, .timer-buttons button:focus {
  color: #09061b;
  background-color: #fff;
  border-color: #09061b;
  outline: 0;
}

.timer-text {
  text-align: center;
}

.timer-buttons button {
  margin: 0.5em;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #f0eef9;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
}

.taskForm {
  margin-top: 1em;
}